/*
CODE CITATION!!!! YAAAAY

https://stylestage.dev/styles/artsy-blue-and-turquoise/ 

borrowed some of the code from the link above and changed it to match my own -- mostly used it as reference/template :)
also referenced and copied some code from the hw 3 grid html, style.css, and starter_style.css
ALSO took some inspiration from inspect from various umich pages, though there was no copying
worked very hard on this - I know it's late, but I wanted it to be good!
*/
@charset "UTF-8";

@font-face {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-optical-sizing: auto;
  src: local("Montserrat"), local("Montserrat"), url("../../fonts/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}

:root {
  --color-primary: #FFCB05;
  --color-primary-alt: #6f6ffd;
  --color-secondary: #00274C;
  --color-background: white;
  --color-text: #131516;
  --color-anchor: #00274C;
  --font-family: "Montserrat", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1rem;
  --font-size-h4: .75rem;
  --font-size-text: 1rem;
  --border-radius: 8px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.1em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  text-align: center;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.5em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p, ul, li, .vid {
  margin: 0% 5% 0% 5%;
}

.vidcontainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 0vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

header {
  min-height: 15vh;
  margin: 5% 5% 0% 0%;
}
header img {
  max-width: 25%;
  margin: auto;
}
header h1 {
  padding: 1%;
  margin: auto;
}
header h2 {
  max-width: 30ch;
}

nav {
  background-color: var(--color-primary-alt);
  display: block;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul a {
  display: inline-grid;
  padding: 0rem 0.5rem 0rem 0.5rem;
  color: var(--color-secondary);
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  background-color: var(--color-secondary);
  opacity: 0.15;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 1;
}
nav ul li {
  display:inline;
  margin: 0.25rem;
}

.skip a{
  position: absolute;
  top: -100px;
  background-color: white;
  overflow: hidden;
  color: #00274C;

}
.skip a:focus {
  top: 25px;
  padding: 0.5%;
}

/* header {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 15vh;
  margin: 5% 5% 0% 0%;
} */